/*Dashboard planes*/

.bg-color-icon{
    background-color: rgb(190, 228, 125) !important;
}

/*Color de la pelotita del icono*/
.rounded-color{
    background-color: var(--color-green);
    border-radius: 60%;
}

.icon-size{
    font-size: 3.5rem;
}

.p-color{
   color: rgba(58, 102, 19);
}


.link-card {
    padding: 0.2rem 1.5rem;
    color: var(--color-green-2);
    background-color: rgba(255, 255, 255, 0.679);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 2rem; /* opcional si querés ese estilo pill */
    text-align: center;
    font-size: medium;
    flex-shrink: 0;
    white-space: nowrap;
}

/*Estilo para el link de dashboard plan*/
.link-card-2 {
    padding: 0.2rem 2rem;
    color: white;
    background-color: var(--color-green-2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 2rem; /* opcional si querés ese estilo pill */
    text-align: center;
    font-size: medium;
}

.link-card-2:hover{
    background-color: grey;
    color: black;   
}

.link-card:hover{
    background-color: var(--color-green-2);
    color: aliceblue;  
}

/*titulo de la card de cartilla*/
.card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem;

}




.custom-card {
  width: 100%; /* Cambiado a 100% para responsividad */
  max-width: 30rem; /* Máximo ancho en pantallas grandes */
  position: relative;
  color: white;
  font-weight: bold;
  background: transparent;
}












/* Media queries para responsividad */

/* Pantallas extra pequeñas (teléfonos, menos de 576px) */
@media (max-width: 575.98px) {
  

  .custom-card {
    width: 100%;
    max-width: none;
  }

  .card-top-section,
  .card-bottom-section {
    height: 190px; /* Altura reducida para móviles */
    padding: 2rem;
  }

  

  .option-link {
    padding: 0.2rem 1rem; /* Botones más pequeños */
    font-size: small;
  }

  
  .card-description {
    padding: 0.5rem;
    font-size: small;
  }
}

/* Pantallas pequeñas (tablets, 576px y más) */
@media (min-width: 576px) and (max-width: 767.98px) {
  

  .custom-card {
    width: 100%;
    max-width: 25rem;
  }

  .card-bottom-section,
  .card-top-section {
    padding: 1.2rem 2.5rem 0 2.5rem;
  }


  
}

/* Pantallas medianas (tablets, 768px y más) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-card {
    max-width: 28rem;
  }

  .card-bottom-section,
  .card-top-section {
    padding: 1.3rem 3rem 0 3rem;
    margin: 2rem;
  }

}



